html {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Readex Pro", "Sans serif";
    background-color: rgb(253, 239, 219);
    color: #333333;
}

/* Header*/
header {
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    color: blanchedalmond;
    z-index: 5;
}

header h1 {
float: left;
padding-left: 200px;
}

header .navigation {
    float: right;
    padding-top: 15px;
    padding-right: 200px;
}

.navigation li {
    display: inline-block;
    padding: 0% 10px;
    font-size: 1.1rem;
}

.navigation a {
    text-decoration: none;
    color: blanchedalmond;
}

/* About */
#about {
    position: relative;
    top: 80px;
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0px 200px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
}

#about .aboutMe {
    margin: auto;
    width: 60%;
}

#about .image {
    display: flex;
    margin: auto;
    width: 40%;
    padding-top: 30px;
    padding-left: 40px;
}

#about img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: auto;
    border-radius: 10px;
}

/* Latest projects*/
#latest-projects {
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

#latest-projects .container {
    display: flex;
    justify-items: start;
    width: auto;
    margin: 0 auto;

}
  
#latest-projects .col {
    text-align: center;
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px;
    cursor: pointer;
}
  

#latest-projects .col h3 {
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    opacity: 0.6;
    
}

#latest-projects .summary {
    height: 100px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: black;
    opacity: 0.8;
    color: white;
}

#latest-projects .tech {
    height: 30px;
    margin-bottom: 40px;
    color: white;
    background-color: black;
    opacity: 0.8;
}

  
#latest-projects .col a {
    background-color: white;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #333333; 
}

/* Footer*/
footer {
    background-color: #333333;
    color: rgb(253, 239, 219);
    padding: 0.1rem 2rem;
    
}

footer p {
    text-align: center;
}

/*Header queries*/

@media only screen and (max-width: 1170px) {
    header {
        display: block;
        text-align: center;
        width: 100%;
        
    }

    header h1 {
        font-size: 1.5rem;
        padding: 10px 0px 10px 200px;
        margin: 0 auto;
        }
        
    header .navigation {
        padding: 0px 200px 0px 0px;
    }
  }

@media only screen and (max-width: 1050px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

    header h1 {
      font-size: 1.5rem;
      padding: 10px;
      width: 100%;
      margin: 0 auto;
    }
        
    header .navigation {
        padding: 0%;
        width: 100%;
        margin: 0 auto;
    }  
} 


/* About and latest projects section queries*/

 @media only screen and (max-width: 1250px) {    
    #about {
        padding: 20px 100px;
      }
    
      #latest-projects {
          padding-top: 80px;
          padding-bottom: 100px;
          padding-left: 100px;
          padding-right: 100px;
      }
    
      #latest-projects .col {
          flex-wrap: wrap;
      }

    }

@media only screen and (max-width: 1028px) {    
    #about {
        padding: 20px 50px;
      }
    
      #latest-projects {
          padding-top: 80px;
          padding-bottom: 100px;
          padding-left: 50px;
          padding-right: 50px;
      }
    
      #latest-projects .col {
          flex-wrap: wrap;
      }
    }      
  
@media only screen and (max-width: 950px) {
    #about {
        display: grid;
        height: auto;
        grid-template-rows: auto/ 320px;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 50px 0px 50px;
        text-align: center;
      }

      #about .aboutMe {
        grid-area: 2 /2 / span 1 / span 2;
        margin: 0 auto;
        width: 70vw;
    }
    
    #about .image {
        grid-area: 1 /2 / span 1 / span 2;
        display: flex;
        margin: 0 auto;
        width: 50vw;
        height: 50vh;
        padding: 0px;
    }
    
      #latest-projects {
          text-align: center;
          padding-top: 100px;
          padding-bottom: 100px;
          padding-left: 50px;
          padding-right: 50px;
      }

      #latest-projects .container {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: space-between;
        width: auto;
        
    
    }
    
      #latest-projects .col {
        margin: 10px auto;
      }
}    